 # data type and structure

## throictical section

1. What are data structures, and why are they important ?
  - Data structure is a process of storing data in an orginzing way , SO it can retrived and manuplated for furthuer use . it is very essential beacause if it can not be accessed then i will  be useless eaither any insights cannot be found.
  - importents
  - 1. to find out insights from data
  - 2. in order to bulid projects thorugh data
  - 3. to perform some modification operation over the data .
  - some type of data = list , string , arrays , tuples ,set , dictionery


2.    Explain the difference between mutable and immutable data types with examples ?
   - mutiable = a data  where like - adding new values , removig any values , and updating any stored elements such operation can be performed  after declration , therefor these data called mutbale data types , like - list , dictionery , set etc .

   immutable == A data where stored elements cannot be replaced , nither replace nor addition , remove  works is called  imutable .  these data types has stable has values . like = tuple  .


3.  What are the main differences between lists and tuples in Python ?
   - list = lists are mutable mean after string any sort of data manuplaction can be performed  . like = remove , add , replace , slices , pop etc

   - tuples = tuples are imutable , mean any sort of manuplation can not be performed . in tuples if any value get stored once so that value can not be changed or removed , it will be parmenent .


4.  Describe how dictionaries store data ?
    - IN dictionery data is usully stored in key value pairs as well as in ordred format . here any kind duplicate data is not considred . howere earlier dictionery could not be accessed but after 3.7 update , dictionery and their values can be accessed by indexs . therefor it is an mutable dat type .
    - however dictionery values can be accessed by indexes but here we cannot write indexes in intger instead keys wich is used to stere values are also comes in handy to access their respective values . in addition all operations also performed using keys .


5.  Why might you use a set instead of a list in Python ?
   - usecase = first when we do not want to keep reapting our stored data values over and over , to be clear when we dont want duplicate values in our data that time set is perffered rahter then list , beaucse in list duplciate values will be eappered as much as we discribe .Second in set data is stored in unordered format but in list in ordered format . therfor in some situations to keep our data in unordered fomrat typically set is used then list . thired  set operators like - union , difference , etc also a key factores for set  set then list .


6. What is a string in Python, and how is it different from a list ?
 - list = list is an hetroginous data structure, or i would say a collection of
   oreded elements , where any kind of data type can be stored at multiple times  together . list is mutable thereofor any sort of manuplation can be performed in list elements .

   - string = On the other hand string is a sequnce of chrector and unit of multiple latter , it is for  an individual words ,mean string  is not hetrogenios . beacuse in  string we cannot store all types of data types together . String values can not be changed hwoere we have a function called replace by using it old values can be replaced by new words . in strings elements are written either inside double coat or single coat


7. How do tuples ensure data integrity in Python ?
  - tuples = tuples are imutable therfor any sort of changes in data like - remove , add , replace can not be perofmed , and it insure that data which is stored inside tules remain same , it must prvent those errors come in data while changes and data would be consistent .
  - tuples has a stable hash  values which unables it to be used in another data typr like , sets and dictionery mean tules can be used indside them in order to store data ( and immtablity insure the consistency of data ) therfor data can not be altred by any another operations .


8. What is a hash table, and how does it relate to dictionaries in Python ?
   - A hash table is a data structure that stores key-value pairs and allows for efficient data retrieval using a key. It works by using a hash function to compute an index in an array (or bucket) where the value associated with the key is stored.
   - 1. The hash function is applied to the key to compute a hash value.
   - 2. This hash value determines the index in the underlying array where the value is stored.
   - 3. If multiple keys hash to the same index (a collision), Python handles it using open addressing.


9. Can lists contain different data types in Python ?
   - yes obsuletly list is hetroginous , mean diffrent types of data types can be stored inside list and in multiple times . like - string, bool , int, float , complex . therefor above statement is totally ture regarding list .


10.  Explain why strings are immutable in Python ?
    - strings = first strings can not store diffrent type of data type like - list , tuples . it stores only values in textual format which is inside either double or single coat . As we know strings latter can be accessed by indexs . but when it comes to change we cannot cahnge any perticuler latter by accesing index, if we do it thorws an error beacuse string does not support item assignment . utlimatly strings are immutable . reson strings values are stored in numric form in our system memory therofor their internal function is not possible to alter therefor , data inside stings can not be altred .


11. What advantages do dictionaries offer over lists for certain tasks ?
   - dictionaries = as we know dictionery stores values in key value pairs , so if we have an situation where in  data have multiple information inside itself , and we have multiple data . in such situations these data can be stored in keys and their respective information in values format  , ultimatly we will have data and its inforamtion in key:value form but this is not possible with list .
   - second = in dictionery values are accessed by keys but in list by indexes that is more appropriate and easy to understend .
   - third  = if we store any keys again and change some values inside the new key so duplicate values will not print intead the key value will be updated with this new values . ultimalty it does not return duplicate values but list do . list return duplciate values .


12.   Describe a scenario where using a tuple would be preferable over a list ?
    - enstance = suppose a govt have their people adhar card numbers in data , which is used to check people information wheathe they are poor - rich , thier cast , there work etc. here if values are stored in tuples so beacuse tuple are immutable therefor inforamtion may not get change while any opration (like any external change /or by any function ) . but if these information is stored in list so values can be changed which can cause major trouble . such inforaton is not supposed to be changed . therfor such values we dont want to be cahnged is mostly stored in tuples rahter then list .


13. How do sets handle duplicate values in Python ?
    - sets = sets is an unordered collection of unique values .mean set never return duplciate values , in details if we write any element two or more then two times afterwards the duplciate item will be printed only one time  the rest duplicate itmes will be ignored by set itself .


14. How does the “in” keyword work differently for lists and dictionaries ?
   - [in] is basically a membership operator which is typcally used to check weather the  values are prsent or not in our data ( it return in ture or false)
   - 1. list = by using [in] in last we can figure out values in list wheather it is avilabe or not , it will be working effectivly their  over those elements regardless their data type .
   - 2. dictionery = but when it comes to dictionery it works deffrently , beacuse data is stored in key:value pairs in dictioneries . therefor by usng in operator  we can access their keys only not their respective values . if we try to access value it must return an error . but not while checking keys ,in fact here return in either true or false


15. Can you modify the elements of a tuple? Explain why or why not ?
   - no we can not modify elements in tuple beause tuples does not support item assigment . to be clear tuples are immutable mean any sort of replacment , addition  or removeing any value is not possible due to its behviour  . IF we do try to change any tuples elements to modify we will get an eror .


16. What is a nested dictionary, and give an example of its use case ?
  - nested dictionery means a dictionery inside dictionery . it is used to deal / handle more complex and big data , and make easier to read and find insights from that data  . ex. suppose we have three phones (redmi 7, 8 ,9 )
  we want to store each and every phone specification like - ram, sotrage , camera , battry , processor || it such cercumstances nasted is used extensivly to store such complex inforamtion . ex. phones = {"phone1":{"camera":"50mp","ram":8,"storage":128,"processor":"sanpdrogon 7gen 3"}, "phone2":{"camera":"48mp","ram":6,"storage":256,"processor":"sanpdrogon 7gen 2"}}


17.  Describe the time complexity of accessing elements in a dictionary ?
     -  The time complexity of accessing elements in a dictionary is O(1) on average and O(n) in the worst case due to hash collisions. beausee in dictionery values are accessed by keys not by indexs . howerver python dictioneries are well optimized to handle hash collusion .


18. In what situations are lists preferred over dictionaries ?
    - list - ususlly list are preffered when we want to store duplciate values inside our elements ,because dictionery do not allow to enter duplciate keys , by doing so we get only one last key as an itme therefor list is preffred . secondly when we have elements in single case beacuse these values can not be stored inside dictionery . ex . we have any class students marks , but we dont have their information lke - names etc , ultimalty we are to get the makres stored only in such situation list is typically more worth then dictionery .


19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
   -  howere earlier dictionery could not be accessed but after 3.7 update , dictionery can be accesed.  dictionery are considred unorderd beacuse elements inside dictionaries are not assigned index while getting stored in memory instead dictionaries contain key:value pairs therefor all values are accessed by these keys . effect = whenver retrinving data it can not be retrived by index (no doubt its an easy way ) . however there is an no possible way to access values of any keys dicrectly beacuse of this unodrered format  . neither data can not be altred while retriving  . these are some cons of unordred format .


20. Explain the difference between a list and a dictionary in terms of data retrieval ?
   - list = because list are ordered collection of elements there for data can be retrived by indesx . modefication can also be done by index like - replace any value , remove something . IN list all elements are asigned indexes while declration which makes it easier to acess .
   - dictionery = because dictionery are stored in key:value pair therfor data can not be retrived by indexs , here keys comes in light  offen used to access or perform modification over elements . this way to acess make it substancially diffrent then other data like list ..

## practical qustion

In [1]:
 # 1. Write a code to create a string with your name and print it ?
name ="parveen"
print(name)

parveen

In [5]:
# 2. Write a code to find the length of the string "Hello World" ?
a ="hello world"
b =len(a)
print(b)

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming" ?
r ="Python Programming"
r[0:4]

'Pyth'

In [6]:
# 4. Write a code to convert the string "hello" to uppercase ?
s ="hello"
s1 =s.upper()
print(s1)

HELLO

In [9]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?
n ="i like apple"
n1= n.replace("apple","orange")
print(n1)

i like orange

In [12]:
# 6. Write a code to create a list with numbers 1 to 5 and print it ?
list1 =[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [14]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?
l =[1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [20]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?
s = [1, 2, 3, 4, 5]
s.remove(3)
print(s)

[1, 2, 4, 5]

In [23]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?
s1 =['a', 'b', 'c', 'd']
s1 [2]

'c'

In [25]:
# 10.  Write a code to reverse the list [10, 20, 30, 40, 50] ?
list1 =[10, 20, 30, 40, 50]
list_revrese = list1[::-1]
print(list_revrese)

[50, 40, 30, 20, 10]

In [27]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it ?
tuple1 = (10,20,30)
print(tuple1)
print(type(tuple1))

(10, 20, 30)
<class 'tuple'>

In [31]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?
fruits =("apple","banana","cherry")
fruits [0]

'apple'

In [32]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2) ?
num =(1,2,3,2,4,2)
num.count(2)

3

In [33]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?
pets =('dog','cat','rabbit')
pets.index('cat')

1

In [34]:
# 15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana') ?
fruits =('apple',"orange",'banana')
'banana' in fruits

True

In [36]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it ?
set1 ={1,2,3,4,5,6}
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [38]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4} ?
set2 ={1,2,3,4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}

In [ ]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it ?
tuple1 = (10,20,30)
print(tuple1)
print(type(tuple1))

In [39]:
# 19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?
fruits =("apple","banana","cherry")
fruits [0]

'apple'

In [40]:
#20 .  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2) ?
num =(1,2,3,2,4,2)
num.count(2)

3

In [41]:
# 21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?
pets =('dog','cat','rabbit')
pets.index('cat')

1

In [42]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana') ?
fruits =('apple',"orange",'banana')
'banana' in fruits

True

In [43]:
# 23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it ?
set1 ={1,2,3,4,5,6}
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [44]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4} ?
set2 ={1,2,3,4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}